* {
    box-sizing: border-box;
    font-family: montserrat;
}

html,
body {
    margin: 0;
}

.container {
    width: 50%;
    margin: auto;
    background-color: rgb(241 233 254);
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
    box-shadow: 8px 8px 8px rgb(152, 144, 166);
}


.numbers-container {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    justify-content: space-around;
}

.box {
    width: 25%;
    padding: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(223 170 152);
    text-align: center;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.profilecontainer {
    display: flex;
    align-items: center;
}

.profilediv {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileimage {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 50%;
    background-color: rgb(95 23 227);
}

.username {
    font-size: 48px;
    color: rgb(95 23 227);
    font-weight: 700;
}

.userrole {
    font-size: 24px;
    color: rgba(93 23 231);
    font-weight: 400;
}

.boxheading {
    font-size: 48px;
}

.boxcontent {
    font-size: 24px;
}

.description {
    font-size: 18px;
    letter-spacing: 1px;
}